<%= @list.name %>
<ul></ul>
<li>trip id: <%= @list.trip_id %></li>
<li>created at: <%= @list.created_at %></li>
<li>updated at: <%= @list.updated_at %></li>
<%= render partial:"list_items/list_items" %>
<%= render partial:"list_items/new" %>
</ul>

