<%= @trip.name %>
<ul></ul>
<li>trip id: <%= @trip.id %></li>
<li>created at: <%= @trip.created_at %></li>
<li>updated at: <%= @trip.updated_at %></li>
<%= render partial:"lists/index" %>
<%= render partial:"lists/new" %>
</ul>
